## DAY 3

### Round Method

In [1]:
round(12.232312)

12

## String type

In [8]:
a='hELLo'
b="denis"
type(a)
type(b)

str

In [3]:
print(a)

hello

In [4]:
print(type(a))

<class 'str'>

## string concatenation

In [5]:
a+b

'hellodenis'

In [6]:
print(a,b)

hello denis

## String methods

In [7]:
a.lower()

'hello'

In [9]:
a.lower()

'hello'

In [10]:
a.title()

'Hello'

In [11]:
a.upper()

'HELLO'

In [12]:
print(a)

hELLo

### String Indexing

In [17]:
 a.index("o")

4

In [18]:
a="Hello! My name is Denis Raj Timilsena"
a.index("name")

10

In [19]:
print(a[10])

n

## String Formatting

In [22]:
b = "  Hello, World!  "
print(b[-5:-2])

ld!

In [24]:
print(b.strip())

Hello, World!

In [25]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [26]:
txt=f"My name is Denish Raj Timilsena, and I am {age} years old"

In [27]:
print(txt)

My name is Denish Raj Timilsena, and I am 36 years old

In [28]:
txt = "We are the so-called \"Vikings\" from the north."

In [29]:
print(txt)

We are the so-called "Vikings" from the north.

In [34]:
txt = "We are the so-called \'Vikings\' from the north."

In [32]:
print(txt)

We are the so-called 'Vikings' from the north.

In [35]:
txt = "We are the so-called \r Vikings from the north."

In [36]:
print(txt)

 Vikings from the north.

### String Slicing

#### syntax : string[strat:stop:step]

In [38]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [39]:
b[3:6:2]

'l,'

# LISTS

In [2]:
list=["Dneis", "timilsena", "raj"]
print(list)

['Dneis', 'timilsena', 'raj']

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
list[0]

'Dneis'

Operator Example Same As Try it
= x = 5 x = 5
+= x += 3 x = x + 3
-= x -= 3 x = x - 3
_= x _= 3 x = x \* 3
/= x /= 3 x = x / 3
%= x %= 3 x = x % 3
//= x //= 3 x = x // 3
**= x **= 3 x = x \*\* 3
&= x &= 3 x = x & 3
|= x |= 3 x = x | 3
^= x ^= 3 x = x ^ 3

> > = x >>= 3 x = x >> 3
> > <<= x <<= 3 x = x << 3
> > := print(x := 3) x = 3
> > print(x)

In [5]:
list1 = ["abc", 34, True, 40, "male"]
#List can be any mixture of datatypes

In [6]:
print(type(list1))

<class 'list'>

### List constructor

In [8]:
del list  # because the above declaration of list is overwrite thus the list is not callable 

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable\*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered\*\* and changeable. No duplicate members.

## Accessing list items

In [9]:
denis=["apple", "banana", "cherry"]
print(denis[1])

banana

In [11]:
# Negative Indexing 

thislist = ["apple", "banana", "cherry"]
print(thislist[-2])

banana

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [13]:
### This is same as slicing in string

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:5])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [16]:
# Range of negative indexing

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-5:-2])

['cherry', 'orange', 'kiwi']

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in thislist:
    print("Yes, apple in this list ")

Yes, apple in this list

In [23]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "orange" in thislist:
    print(thislist.index("orange"))

3

## Changing the list

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "denis"
print(thislist)

['apple', 'd', 'e', 'n', 'i', 's', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "denis"
print(thislist)

In [29]:
## inserting at the position
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [32]:
## Extending the list (adding another list)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [33]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)S
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [1]:
## Remove List  this remove the first recurrance of the "banana"
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [2]:
## To remove specific index
# pop() is used

thislist.pop(3)

'kiwi'

In [3]:
print(thislist)

['apple', 'cherry', 'banana']

In [4]:
## To remove last item just pop()
thislist.pop()

'banana'

In [5]:
print(thislist)

['apple', 'cherry']

In [21]:
## to delete the entire list 
thislis = ["apple", "banana", "cherry", "banana", "kiwi"]
print(thislis)
del thislis
print(thislis) #the list is not there (its deleted)

['apple', 'banana', 'cherry', 'banana', 'kiwi']

NameError: name 'thislis' is not defined

In [17]:
##clear(method)
thislist=["apple", "banana", "cherry"]
thislist.clear()

In [18]:
thislist

[]

## Loop in list( for..in, for .. in range, while)

In [25]:
thislist = ["apple", "banana", "d" ,"cherry"]
for x in thislist:
  print(x)

apple
banana
d
cherry

In [26]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [29]:
denis=["denis","sagar","sailesh","lokesh"]
for i in range(len(denis)):
    print(denis[i])

denis
sagar
sailesh
lokesh

In [30]:
for x in denis:
    print(x)

denis
sagar
sailesh
lokesh

In [31]:
# Using while loop

In [ ]:
i=0
while i<len(denis):
    print(denis[i])
    i=i+1

In [1]:
denis=["denis", "tilak", "sagar", "sailesh"]
i=0
while i<len(denis):
    print(denis[i])
    i=i+1

denis
tilak
sagar
sailesh

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for x in fruits:
    for "a" in x:
        newlist.append(x)

print(newlist)

SyntaxError: cannot assign to literal (3491067359.py, line 4)

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [3]:
newlist = [x for x in fruits if "a" in x]

In [4]:
print(newlist)

['apple', 'banana', 'mango']

In [5]:
## sorting the list 
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [6]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [7]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [8]:
# sort the list how close the number is to 50

In [14]:
def myfunc(n):
    return abs(50-n)
thislist=[100,23,3122,12,12,51,34,49]
thislist.sort(key=myfunc)
print(thislist)

[51, 49, 34, 23, 12, 12, 100, 3122]

In [13]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [1]:
mylist=thislist.copy()
print(mylist)

NameError: name 'thislist' is not defined

In [2]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [4]:
slist=list(mylist)

In [5]:
print(slist)

['apple', 'banana', 'cherry']

In [6]:
## using slice operator
ylist=slist[:]
print(ylist)

['apple', 'banana', 'cherry']

In [7]:
list1=["a", "b","c"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [8]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
##List Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()

# Tuple

In [9]:
mytuple = ("apple", "banana", "cherry")

In [10]:
print(thistuple)

NameError: name 'thistuple' is not defined

In [11]:
print(mytuple)

('apple', 'banana', 'cherry')

In [12]:
thistuple=("apple",3,"denish")
print(thistuple)

('apple', 3, 'denish')

In [14]:
thistuple=("apple", 7, True)

In [15]:
print(thistuple)

('apple', 7, True)

In [16]:
print(type(thistuple))

<class 'tuple'>

In [17]:
#Using tuple() constructor

## Accessing tuple

In [39]:
thituple = ("apple", "dol", True, 2.323)
print(thituple[1])

dol

In [40]:
#Negative Indexing 
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [41]:
#We can add range of the indexs
thistuple=(23,32,4,53,54)

In [42]:
print(thistuple[2:5])

(4, 53, 54)

In [43]:
print(thistuple[:4])

(23, 32, 4, 53)