## DAY 3

### Round Method

In [1]:
round(12.232312)

12

## String type

In [2]:
a='hELLo'
b="denis"
type(a)
type(b)

str

In [3]:
print(a)

hELLo

In [4]:
print(type(a))

<class 'str'>

## string concatenation

In [5]:
a+b

'hELLodenis'

In [6]:
print(a,b)

hELLo denis

## String methods

In [7]:
a.lower()

'hello'

In [8]:
a.lower()

'hello'

In [9]:
a.title()

'Hello'

In [10]:
a.upper()

'HELLO'

In [11]:
print(a)

hELLo

### String Indexing

In [12]:
 a.index("o")

4

In [13]:
a="Hello! My name is Denis Raj Timilsena"
a.index("name")

10

In [14]:
print(a[10])

n

## String Formatting

In [15]:
b = "  Hello, World!  "
print(b[-5:-2])

ld!

In [16]:
print(b.strip())

Hello, World!

In [17]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [18]:
txt=f"My name is Denish Raj Timilsena, and I am {age} years old"

In [19]:
print(txt)

My name is Denish Raj Timilsena, and I am 36 years old

In [20]:
txt = "We are the so-called \"Vikings\" from the north."

In [21]:
print(txt)

We are the so-called "Vikings" from the north.

In [22]:
txt = "We are the so-called \'Vikings\' from the north."

In [23]:
print(txt)

We are the so-called 'Vikings' from the north.

In [24]:
txt = "We are the so-called \r Vikings from the north."

In [25]:
print(txt)

 Vikings from the north.

### String Slicing

#### syntax : string[strat:stop:step]

In [26]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [27]:
b[3:6:2]

'l,'

# LISTS

In [28]:
list=["Dneis", "timilsena", "raj"]
print(list)

['Dneis', 'timilsena', 'raj']

In [29]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [30]:
list[0]

'Dneis'

Operator Example Same As Try it
= x = 5 x = 5
+= x += 3 x = x + 3
-= x -= 3 x = x - 3
_= x _= 3 x = x \* 3
/= x /= 3 x = x / 3
%= x %= 3 x = x % 3
//= x //= 3 x = x // 3
**= x **= 3 x = x \*\* 3
&= x &= 3 x = x & 3
|= x |= 3 x = x | 3
^= x ^= 3 x = x ^ 3

> > = x >>= 3 x = x >> 3
> > <<= x <<= 3 x = x << 3
> > := print(x := 3) x = 3
> > print(x)

In [31]:
list1 = ["abc", 34, True, 40, "male"]
#List can be any mixture of datatypes

In [32]:
print(type(list1))

<class 'list'>

### List constructor

In [33]:
del list  # because the above declaration of list is overwrite thus the list is not callable 

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable\*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered\*\* and changeable. No duplicate members.

## Accessing list items

In [34]:
denis=["apple", "banana", "cherry"]
print(denis[1])

banana

In [35]:
# Negative Indexing 

thislist = ["apple", "banana", "cherry"]
print(thislist[-2])

banana

In [36]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [37]:
### This is same as slicing in string

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [39]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:5])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [40]:
# Range of negative indexing

In [41]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-5:-2])

['cherry', 'orange', 'kiwi']

In [42]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in thislist:
    print("Yes, apple in this list ")

Yes, apple in this list

In [43]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "orange" in thislist:
    print(thislist.index("orange"))

3

## Changing the list

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "denis"
print(thislist)

['apple', 'd', 'e', 'n', 'i', 's', 'cherry']

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "denis"
print(thislist)

['apple', 'd', 'e', 'n', 'i', 's', 'cherry']

In [47]:
## inserting at the position
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [49]:
## Extending the list (adding another list)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [50]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)S
print(thislist)

SyntaxError: invalid syntax (2325290423.py, line 3)

In [ ]:
## Remove List  this remove the first recurrance of the "banana"
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
## To remove specific index
# pop() is used

thislist.pop(3)

'kiwi'

In [ ]:
print(thislist)

['apple', 'cherry', 'banana']

In [ ]:
## To remove last item just pop()
thislist.pop()

'banana'

In [ ]:
print(thislist)

['apple', 'cherry']

In [ ]:
## to delete the entire list 
thislis = ["apple", "banana", "cherry", "banana", "kiwi"]
print(thislis)
del thislis
print(thislis) #the list is not there (its deleted)

['apple', 'banana', 'cherry', 'banana', 'kiwi']

NameError: name 'thislis' is not defined

In [ ]:
##clear(method)
thislist=["apple", "banana", "cherry"]
thislist.clear()

In [ ]:
thislist

[]

## Loop in list( for..in, for .. in range, while)

In [ ]:
thislist = ["apple", "banana", "d" ,"cherry"]
for x in thislist:
  print(x)

apple
banana
d
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
denis=["denis","sagar","sailesh","lokesh"]
for i in range(len(denis)):
    print(denis[i])

denis
sagar
sailesh
lokesh

In [ ]:
for x in denis:
    print(x)

denis
sagar
sailesh
lokesh

In [ ]:
# Using while loop

In [ ]:
i=0
while i<len(denis):
    print(denis[i])
    i=i+1

In [ ]:
denis=["denis", "tilak", "sagar", "sailesh"]
i=0
while i<len(denis):
    print(denis[i])
    i=i+1

denis
tilak
sagar
sailesh

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for x in fruits:
    for "a" in x:
        newlist.append(x)

print(newlist)

SyntaxError: cannot assign to literal (3491067359.py, line 4)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits if "a" in x]

In [ ]:
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
## sorting the list 
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
# sort the list how close the number is to 50

In [ ]:
def myfunc(n):
    return abs(50-n)
thislist=[100,23,3122,12,12,51,34,49]
thislist.sort(key=myfunc)
print(thislist)

[51, 49, 34, 23, 12, 12, 100, 3122]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
mylist=thislist.copy()
print(mylist)

NameError: name 'thislist' is not defined

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
slist=list(mylist)

In [ ]:
print(slist)

['apple', 'banana', 'cherry']

In [ ]:
## using slice operator
ylist=slist[:]
print(ylist)

['apple', 'banana', 'cherry']

In [ ]:
list1=["a", "b","c"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
##List Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()

# Tuple

In [ ]:
mytuple = ("apple", "banana", "cherry")

In [ ]:
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple=("apple",3,"denish")
print(thistuple)

('apple', 3, 'denish')

In [ ]:
thistuple=("apple", 7, True)

In [ ]:
print(thistuple)

('apple', 7, True)

In [ ]:
print(type(thistuple))

<class 'tuple'>

In [ ]:
#Using tuple() constructor

## Accessing tuple

In [ ]:
thituple = ("apple", "dol", True, 2.323)
print(thituple[1])

dol

In [ ]:
#Negative Indexing 
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
#We can add range of the indexs
thistuple=(23,32,4,53,54)

In [ ]:
print(thistuple[2:5])

(4, 53, 54)

In [ ]:
print(thistuple[:4])

(23, 32, 4, 53)

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [6]:
y=("denis",)
thistuple=thistuple+y

In [7]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'denis')

In [8]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [9]:
print(thistuple)

('banana', 'cherry')

In [10]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [11]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [12]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

## Method Description

count() Returns the number of times a specified value occurs in a tuple
index() Searches the tuple for a specified value and returns the position of where it was found

In [13]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [14]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

# Python Dictionaries

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [17]:
print(len(thisdict))

3

In [18]:
type(thisdict)

dict

In [19]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [21]:
print(x)

Mustang

In [22]:
thisdict["year"] = 2018

In [23]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [24]:
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

## Nested Dictionaries

In [25]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [26]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [27]:
## Accessing the nested dictionaries 
print(myfamily["child2"]["name"])

Tobias

In [6]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

## python If ... else

In [7]:
a=33
b=300
if b>a:
    print("b is greater than a")

b is greater than a

In [8]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [9]:
if b>a:
    pass

In [10]:
## python match statement 
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [11]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

In [12]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [14]:
month = 5
day = 0
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

No match

In [15]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [26]:
def myfunction(*kids):
    print("the youngest child is "+kids[2])
myfunction("denis","samir","sagar")

the youngest child is sagar

In [32]:
myfunction(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
def myfunction(child1, child2, child3):
    print("the youngest child is "+child2)

TypeError: myfunction() got an unexpected keyword argument 'child1'

In [33]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [34]:
def demo(*args, **kwargs):
    print(args)
    print(kwargs)

demo(1, 2, 3, a=10, b=20)

(1, 2, 3)
{'a': 10, 'b': 20}

# Classes and object

In [2]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [3]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [5]:
try:
    print(d)
except:
    print("An expection occured")

An expection occured

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

In [6]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:

 Denish Raj Timilsena

Hello Denish Raj Timilsena

In [7]:
name = input("Enter your name:")
print(f"Hello {name}")
fav1 = input("What is your favorite animal:")
fav2 = input("What is your favorite color:")
fav3 = input("What is your favorite number:")
print(f"Do you want a {fav2} {fav1} with {fav3} legs?")

Enter your name: Denis

Hello Denis

What is your favorite animal: cat
What is your favorite color: yellow
What is your favorite number: 7

Do you want a yellow cat with 7 legs?

# File Handling

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

In [10]:
## Read files 
f=open("demofile.txt")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

In [11]:
with open("demofile.txt") as f:
    print(f.read)

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

In [18]:
with open("demofile.txt", "a") as f:
  f.write("Now the file has more content!")

In [23]:
with open("demofile.txt") as f:
  print(f.read())

Now the file has more content!Now the file has more content!Now the file has more content!